[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
numpy = "==1.25.0"
plotly = "*"
snakeviz = "*"
dash = "*"
scipy = "*"
nbformat = "*"
memory-profiler = "*"
numba = "*"
chart-studio = "*"
dash-bootstrap-components = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
